## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Bud,US,39.4470,-86.1758,71.62,97,100,5.61,overcast clouds
1,1,Bouca,CF,6.5105,18.2733,69.58,99,100,4.09,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,55.47,62,99,13.60,light rain
3,3,Puerto Ayora,EC,-0.7393,-90.3518,68.56,89,74,5.01,broken clouds
4,4,Hegang,CN,47.4000,130.3667,65.98,91,100,3.85,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Bud,US,39.4470,-86.1758,71.62,97,100,5.61,overcast clouds
5,5,Georgetown,MY,5.4112,100.3354,84.13,93,20,3.44,haze
7,7,Butaritari,KI,3.0707,172.7902,82.36,73,12,13.71,few clouds
9,9,Padang,ID,-0.9492,100.3543,77.05,55,11,1.03,few clouds
13,13,Palu,ID,-0.8917,119.8707,76.03,88,100,4.63,light rain
14,14,Viesca,MX,25.3500,-102.8000,91.40,24,20,14.81,few clouds
21,21,Susanville,US,40.4163,-120.6530,89.91,26,0,14.00,clear sky
22,22,Iracoubo,GF,5.4802,-53.2011,77.34,84,26,7.67,scattered clouds
23,23,Praya,CV,14.9215,-23.5087,75.74,69,20,11.50,few clouds
25,25,Matara,LK,5.9485,80.5353,79.97,81,91,9.37,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# no empty rows observe. However, if there were empty rows, the following code would be used to drop any empty rows:
clean_df = preferred_cities_df.dropna(axis="index", how="any")
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Bud,US,39.4470,-86.1758,71.62,97,100,5.61,overcast clouds
5,5,Georgetown,MY,5.4112,100.3354,84.13,93,20,3.44,haze
7,7,Butaritari,KI,3.0707,172.7902,82.36,73,12,13.71,few clouds
9,9,Padang,ID,-0.9492,100.3543,77.05,55,11,1.03,few clouds
13,13,Palu,ID,-0.8917,119.8707,76.03,88,100,4.63,light rain
14,14,Viesca,MX,25.3500,-102.8000,91.40,24,20,14.81,few clouds
21,21,Susanville,US,40.4163,-120.6530,89.91,26,0,14.00,clear sky
22,22,Iracoubo,GF,5.4802,-53.2011,77.34,84,26,7.67,scattered clouds
23,23,Praya,CV,14.9215,-23.5087,75.74,69,20,11.50,few clouds
25,25,Matara,LK,5.9485,80.5353,79.97,81,91,9.37,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Bud,US,71.62,overcast clouds,39.4470,-86.1758,
5,Georgetown,MY,84.13,haze,5.4112,100.3354,
7,Butaritari,KI,82.36,few clouds,3.0707,172.7902,
9,Padang,ID,77.05,few clouds,-0.9492,100.3543,
13,Palu,ID,76.03,light rain,-0.8917,119.8707,
14,Viesca,MX,91.40,few clouds,25.3500,-102.8000,
21,Susanville,US,89.91,clear sky,40.4163,-120.6530,
22,Iracoubo,GF,77.34,scattered clouds,5.4802,-53.2011,
23,Praya,CV,75.74,few clouds,14.9215,-23.5087,
25,Matara,LK,79.97,overcast clouds,5.9485,80.5353,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isna()
new_hotel_df = hotel_df.dropna(axis=0, how="any", inplace=False)
new_hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Bud,US,71.62,overcast clouds,39.4470,-86.1758,Ted McQuinn Trust
5,Georgetown,MY,84.13,haze,5.4112,100.3354,Cititel Penang
7,Butaritari,KI,82.36,few clouds,3.0707,172.7902,Isles Sunset Lodge
9,Padang,ID,77.05,few clouds,-0.9492,100.3543,Mercure Padang
13,Palu,ID,76.03,light rain,-0.8917,119.8707,Hotel Santika Palu
14,Viesca,MX,91.40,few clouds,25.3500,-102.8000,LA VIEZCA (Parque Magico)
21,Susanville,US,89.91,clear sky,40.4163,-120.6530,Comfort Inn & Suites
22,Iracoubo,GF,77.34,scattered clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
23,Praya,CV,75.74,few clouds,14.9215,-23.5087,LT Aparthotel
25,Matara,LK,79.97,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort

In [31]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
new_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_content = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_content.format(**row) for index, row in new_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = new_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = new_hotel_df[["Lat", "Lng"]]
max_temp = new_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))